In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import networkx as nx

In [2]:
import geopy.distance

In [32]:
from sklearn.preprocessing import LabelEncoder

In [3]:
with open('data/new_bus_transport_graph_new_dist.json', 'r') as fileobj:
    js_graph = json.load(fileobj)
G = nx.readwrite.json_graph.node_link_graph(js_graph)

In [4]:
len(G.nodes())

5083

In [5]:
G.nodes['75009']

{'type': 'bus_stop',
 'latitude': 1.35407552367477,
 'longitude': 103.94339098473914,
 'planningArea': 'TAMPINES',
 'tap_in': 4607736,
 'tap_out': 4502560,
 'deficit': 105176,
 'avg_flow': 4555148,
 'pop_multiplier': 0.1901251020089246,
 'pop_estimate': 49413}

In [6]:
G.edges[('75009', '76059')]

{'type': 'bus_bus',
 'weight': 0.6,
 'AM_Offpeak_Freq': 1301.142857142857,
 'AM_Peak_Freq': 178.85714285714283,
 'PM_Offpeak_Freq': 224.7142857142857,
 'PM_Peak_Freq': 312.57142857142856}

In [7]:
G.edges[('01012', '01112')]

{'type': 'bus_bus',
 'weight': 0.5,
 'AM_Offpeak_Freq': 760.4285714285714,
 'AM_Peak_Freq': 126.14285714285714,
 'PM_Offpeak_Freq': 175.28571428571428,
 'PM_Peak_Freq': 245.8571428571429}

In [51]:
# G.edges()[('99189','98101')]  # not a direct connection, should throw error if G is defined correctly

In [8]:
stop_pair_info = pd.read_csv('results/full_bus_ttt_default_calcs.csv')
stop_pair_info.head()

,orig,dest,freq_type,avg_trips,best_buses,best_parallelized_time,all_candidates,ttt_contribution,dist_m,ttt_pm
0,1012,1112,AM_Offpeak_Freq,760.428571,"{'7', '175', '63', '12', '12e', '80'}",86.505551,"{'12': {'travel': 90.0, 'wait': 345.0, 'total'...",65781.292217,500,131.562584
1,1012,1112,AM_Peak_Freq,126.142857,"{'7', '175', '63', '12', '12e', '80'}",70.070728,"{'12': {'travel': 90.0, 'wait': 300.0, 'total'...",8838.921774,500,17.677844
2,1012,1112,PM_Offpeak_Freq,175.285714,"{'7', '175', '63', '12', '12e', '80'}",93.051703,"{'12': {'travel': 90.0, 'wait': 360.0, 'total'...",16310.634185,500,32.621268
3,1012,1112,PM_Peak_Freq,245.857143,"{'7', '175', '63', '12', '12e', '80'}",83.038050,"{'12': {'travel': 90.0, 'wait': 330.0, 'total'...",20415.497656,500,40.830995
4,1012,1113,AM_Offpeak_Freq,438.142857,"{'32', '2', '33', '2A', '51', '61'}",88.426798,"{'2': {'travel': 108.0000000000001, 'wait': 39...",38743.569743,600,64.572616

In [9]:
stop_pair_info.groupby(['orig', 'dest'])[['best_parallelized_time', 'dist_m']].mean().reset_index()

         orig   dest  best_parallelized_time  dist_m
0        1012   1112               83.166508     500
1        1012   1113               89.068530     600
2        1012   1121               54.288566    1056
3        1012   1211               60.280502    1411
4        1012   1311               66.250678    1767
...       ...    ...                     ...     ...
321769  99189  98101             1282.000000    4956
321770  99189  98239              252.887531    3589
321771  99189  99029              178.648815    1211
321772  99189  99039              138.049379     856
321773  99189  99049              134.944049     400

[321774 rows x 4 columns]

In [10]:
stop_pair_info.groupby(['orig', 'dest'])[['avg_trips', 'ttt_contribution', 'ttt_pm']].mean().reset_index()

         orig   dest   avg_trips  ttt_contribution     ttt_pm
0        1012   1112  326.928571      27836.586458  55.673173
1        1012   1113  226.821429      20143.966079  33.573277
2        1012   1121  150.000000       8296.703023   7.856726
3        1012   1211  171.678571      10541.366436   7.470848
4        1012   1311  279.392857      18609.551668  10.531721
...       ...    ...         ...               ...        ...
321769  99189  98101    8.095238      10174.523810   2.052971
321770  99189  98239    2.428571        614.155432   0.171122
321771  99189  99029    1.523810        287.998996   0.237819
321772  99189  99039    4.857143        695.104854   0.812038
321773  99189  99049   12.047619       1506.703174   3.766758

[321774 rows x 5 columns]

In [11]:
temp1 = stop_pair_info.groupby(['orig', 'dest'])[['best_parallelized_time', 'dist_m']].mean().reset_index()
temp2 = stop_pair_info.groupby(['orig', 'dest'])[['avg_trips', 'ttt_contribution', 'ttt_pm']].mean().reset_index()
stop_pair_info_dict = {}
for i in range(len(temp1)):
    k = (temp1['orig'][i], temp1['dest'][i])
    stop_pair_info_dict[k] = {}
    for feat in ['best_parallelized_time', 'dist_m']:
        stop_pair_info_dict[k][feat] = temp1[feat][i]
    for feat in ['avg_trips', 'ttt_contribution', 'ttt_pm']:
        stop_pair_info_dict[k][feat] = temp2[feat][i]

In [12]:
len(stop_pair_info_dict)

321774

In [13]:
geopy.distance.geodesic([1.42705456686774, 103.84615134332738], [1.43021107363512, 103.84523111093658]).m

363.7441589710111

In [14]:
def get_stop_pair_features(pair_list, G=G, stop_pair_info_dict=stop_pair_info_dict):
    records = []
    for n1, n2 in pair_list:
        g1 = G.nodes[n1]
        g2 = G.nodes[n2]
        temp_feats = dict()
        if (int(n1), int(n2)) in stop_pair_info_dict:
            temp_feats = stop_pair_info_dict[(int(n1), int(n2))]
        else:
            for feat in ['best_parallelized_time', 'avg_trips', 'ttt_contribution', 'ttt_pm']:
                temp_feats[feat] = 0
            # trying to get dist_m from G
            try:
                temp_feats['dist_m'] = G.edges[(n1, n2)]['weight']*100
            except:
                try:
                    temp_feats['dist_m'] = G.edges[(n2, n1)]['weight']*100
                except:
                    temp_feats['dist_m'] = int(geopy.distance.geodesic([g1['latitude'], g1['longitude']], [g2['latitude'], g2['longitude']]).m)
        for feat in ['latitude', 'longitude', 'planningArea', 'avg_flow', 'pop_estimate']:
            temp_feats['n1_'+feat] = g1[feat]
            temp_feats['n2_'+feat] = g2[feat]
        records.append(temp_feats)
    return pd.DataFrame.from_records(records)

In [15]:
temp = list(G.edges())[:5]
temp

[('75009', '76059'),
 ('75009', '76529'),
 ('75009', '76191'),
 ('75009', '75129'),
 ('75009', '75009')]

In [17]:
%%time
get_stop_pair_features(temp)

Wall time: 971 µs

,best_parallelized_time,dist_m,avg_trips,ttt_contribution,ttt_pm,n1_latitude,n2_latitude,n1_longitude,n2_longitude,n1_planningArea,n2_planningArea,n1_avg_flow,n2_avg_flow,n1_pop_estimate,n2_pop_estimate
0,47.787483,600,504.321429,24598.029956,40.996717,1.354076,1.352962,103.943391,103.941652,TAMPINES,TAMPINES,4555148,223506,49413,2424
1,87.619652,500,1223.178571,108698.348597,217.396697,1.354076,1.357410,103.943391,103.940604,TAMPINES,TAMPINES,4555148,33029,49413,358
2,41.302720,500,647.607143,27429.250253,54.858501,1.354076,1.356944,103.943391,103.944774,TAMPINES,TAMPINES,4555148,526455,49413,5710
3,191.394720,800,1357.464286,265816.513426,332.270642,1.354076,1.355636,103.943391,103.939365,TAMPINES,TAMPINES,4555148,85436,49413,926
4,0.000000,0,0.000000,0.000000,0.000000,1.354076,1.354076,103.943391,103.943391,TAMPINES,TAMPINES,4555148,4555148,49413,49413

## Generate train and val data

In [18]:
node_list = list(G.nodes())
edge_list = list(G.edges())

In [19]:
[edge_list[i] for i in np.random.choice(len(edge_list), size=5, replace=False)]

[('84709', '84489'),
 ('11179', '11169'),
 ('67499', '67281'),
 ('59181', '59171'),
 ('99021', '99071')]

In [20]:
len(edge_list)

7459

In [21]:
np.random.choice(node_list, size=2, replace=False)

array(['80179', '66139'], dtype='<U5')

In [22]:
edge_set = set(edge_list)
len(edge_set)

7459

In [23]:
tuple(sorted(['52051', '45389']))

('45389', '52051')

In [24]:
n = 10000
# generating extra true pairs to avoid self-loops, will truncate later 
true_pairs = [edge_list[i] for i in np.random.choice(len(edge_list), size=int(0.6*n), replace=False) if edge_list[i][0]!=edge_list[i][1]]
false_pairs = set()
while len(false_pairs)<n//2:
    n1, n2 = np.random.choice(node_list, size=2, replace=False)
    if n1!=n2 and (n1, n2) not in edge_set and (n2, n1) not in edge_set and (n1, n2) not in false_pairs and (n2, n1) not in false_pairs:
        false_pairs.add(tuple(sorted([n1, n2])))
labels = [1]*(n//2) + [0]*(n//2)
len(true_pairs), len(false_pairs), len(labels)

(5957, 5000, 10000)

In [25]:
total_pairs = true_pairs[:5000] + list(false_pairs)
total_pairs

[('74019', '73039'),
 ('15201', '15221'),
 ('52209', '52221'),
 ('67511', '67521'),
 ('71169', '70261'),
 ('54511', '54521'),
 ('67199', '67189'),
 ('65191', '67591'),
 ('23131', '23141'),
 ('80219', '80169'),
 ('62161', '62171'),
 ('64009', '64249'),
 ('46361', '46371'),
 ('20181', '20191'),
 ('70049', '70039'),
 ('21559', '21461'),
 ('61049', '61039'),
 ('54331', '54391'),
 ('64521', '64559'),
 ('25071', '25519'),
 ('52441', '52369'),
 ('25569', '26061'),
 ('77169', '77291'),
 ('68209', '68239'),
 ('27431', '27389'),
 ('59059', '59421'),
 ('62061', '62071'),
 ('67321', '67301'),
 ('66491', '64619'),
 ('68019', '67091'),
 ('77191', '77201'),
 ('54391', '54341'),
 ('66389', '66009'),
 ('67429', '67439'),
 ('05629', '03222'),
 ('27279', '27309'),
 ('63349', '63339'),
 ('75139', '75149'),
 ('21161', '21389'),
 ('45179', '49139'),
 ('42311', '43311'),
 ('96361', '96371'),
 ('40029', '40279'),
 ('44499', '44009'),
 ('16061', '16071'),
 ('22009', '22489'),
 ('21461', '21471'),
 ('70039', '70029'),
 ('13079', '13141'),
 ('10329', '10279'),
 ('77029', '77039'),
 ('65021', '65031'),
 ('81089', '81011'),
 ('28009', '28239'),
 ('76139', '76051'),
 ('59009', '59091'),
 ('44611', '44701'),
 ('58249', '58291'),
 ('44361', '51091'),
 ('49071', '45441'),
 ('46491', '44269'),
 ('14119', '14011'),
 ('90039', '90029'),
 ('11519', '18041'),
 ('76279', '76269'),
 ('70071', '71331'),
 ('16149', '16009'),
 ('14161', '15041'),
 ('07518', '04019'),
 ('71129', '71149'),
 ('44529', '44469'),
 ('54247', '54239'),
 ('23231', '23371'),
 ('22509', '22499'),
 ('14121', '15141'),
 ('83341', '83351'),
 ('51139', '53011'),
 ('55319', '55309'),
 ('94099', '93049'),
 ('52351', '52341'),
 ('43271', '43061'),
 ('59789', '59461'),
 ('28631', '28641'),
 ('28401', '28541'),
 ('55009', '55239'),
 ('85099', '84101'),
 ('54019', '53321'),
 ('75169', '75131'),
 ('21181', '21549'),
 ('23351', '23361'),
 ('65191', '65071'),
 ('59429', '59051'),
 ('63281', '63099'),
 ('54321', '54331'),
 ('46111', '46141'),
 ('22051', '22061'),
 ('95209', '94099'),
 ('14369', '14219'),
 ('80031', '80051'),
 ('64559', '64549'),
 ('63229', '63031'),
 ('76111', '76121'),
 ('63139', '63261'),
 ('53281', '53271'),
 ('52231', '52271'),
 ('77251', '77261'),
 ('68119', '68059'),
 ('66009', '62129'),
 ('46991', '08057'),
 ('59331', '59059'),
 ('81179', '80279'),
 ('92071', '92081'),
 ('55219', '55309'),
 ('20171', '20239'),
 ('77171', '77009'),
 ('04239', '05059'),
 ('80151', '92249'),
 ('45201', '45211'),
 ('90011', '90021'),
 ('66371', '63361'),
 ('95159', '98011'),
 ('97091', '98061'),
 ('83351', '83361'),
 ('45269', '45461'),
 ('85059', '85049'),
 ('99049', '99039'),
 ('59451', '59411'),
 ('53231', '53211'),
 ('64401', '67501'),
 ('29109', '29099'),
 ('34039', '34029'),
 ('46031', '46041'),
 ('46041', '46051'),
 ('10051', '10061'),
 ('80119', '80149'),
 ('80229', '80269'),
 ('42079', '42059'),
 ('55041', '55051'),
 ('11449', '11059'),
 ('65061', '55281'),
 ('17211', '17201'),
 ('19071', '19081'),
 ('77081', '77091'),
 ('28439', '28211'),
 ('75419', '75021'),
 ('64009', '64397'),
 ('92239', '92071'),
 ('70251', '70261'),
 ('28341', '28351'),
 ('25259', '25269'),
 ('84089', '84079'),
 ('28221', '28301'),
 ('49131', '45171'),
 ('52269', '52501'),
 ('43259', '43249'),
 ('11469', '11161'),
 ('58519', '58059'),
 ('28239', '28229'),
 ('03519', '03539'),
 ('23519', '24011'),
 ('21149', '21069'),
 ('10131', '11021'),
 ('75061', '75229'),
 ('01012', '01112'),
 ('64349', '63379'),
 ('11491', '10461'),
 ('24521', '25321'),
 ('92231', '92271'),
 ('64231', '64301'),
 ('18319', '18309'),
 ('64189', '64179'),
 ('96371', '96329'),
 ('94041', '94051'),
 ('32051', '32061'),
 ('14399', '14329'),
 ('28531', '21711'),
 ('77281', '77331'),
 ('50061', '50111'),
 ('45291', '45309'),
 ('71049', '71189'),
 ('67671', '67239'),
 ('54229', '54181'),
 ('53341', '53351'),
 ('81189', '81179'),
 ('84279', '84269'),
 ('46771', '47599'),
 ('56091', '57011'),
 ('15119', '15109'),
 ('66521', '66531'),
 ('24179', '24169'),
 ('15041', '15051'),
 ('07529', '07589'),
 ('14049', '14161'),
 ('53041', '53051'),
 ('22431', '22009'),
 ('97079', '97069'),
 ('52411', '52451'),
 ('19029', '19019'),
 ('21159', '21149'),
 ('11111', '41101'),
 ('55371', '55381'),
 ('92181', '92171'),
 ('44631', '44641'),
 ('60159', '60139'),
 ('56031', '56041'),
 ('70121', '70131'),
 ('12201', '28299'),
 ('25161', '25171'),
 ('17139', '17191'),
 ('46961', '46981'),
 ('58489', '58119'),
 ('07589', '01139'),
 ('28391', '28401'),
 ('44819', '44869'),
 ('21051', '29021'),
 ('10221', '10231'),
 ('84481', '84491'),
 ('05069', '10011'),
 ('67601', '70279'),
 ('22591', '27371'),
 ('80039', '80029'),
 ('11029', '11019'),
 ('95159', '65191'),
 ('22089', '22331'),
 ('67299', '67309'),
 ('27381', '27439'),
 ('53211', '52021'),
 ('17121', '17131'),
 ('96331', '96341'),
 ('17291', '17351'),
 ('64489', '64509'),
 ('76519', '75271'),
 ('02161', '82051'),
 ('44839', '44701'),
 ('46499', '46519'),
 ('52039', '52029'),
 ('23159', '23489'),
 ('47169', '47179'),
 ('10149', '06049'),
 ('41049', '41029'),
 ('54349', '54399'),
 ('50171', '52401'),
 ('93189', '92199'),
 ('54248', '54239'),
 ('25179', '25169'),
 ('43409', '43469'),
 ('46009', '46271'),
 ('17061', '17071'),
 ('10079', '06051'),
 ('98231', '98051'),
 ('17119', '17109'),
 ('52321', '52501'),
 ('16039', '16029'),
 ('22471', '27529'),
 ('09022', '09111'),
 ('21319', '21309'),
 ('27231', '27241'),
 ('72029', '72019'),
 ('58129', '58119'),
 ('61101', '61089'),
 ('21459', '21719'),
 ('70241', '70019'),
 ('25509', '25479'),
 ('56069', '56059'),
 ('31051', '31151'),
 ('28519', '28509'),
 ('85039', '85029'),
 ('71099', '71089'),
 ('09023', '09048'),
 ('28289', '28089'),
 ('07379', '01339'),
 ('01529', '01519'),
 ('59331', '58991'),
 ('66009', '62131'),
 ('18109', '18049'),
 ('92041', '92051'),
 ('43741', '43511'),
 ('99041', '99139'),
 ('66419', '66409'),
 ('92101', '92111'),
 ('58331', '58041'),
 ('02111', '01611'),
 ('44139', '44129'),
 ('46101', '46211'),
 ('78089', '78119'),
 ('21191', '21271'),
 ('64529', '64339'),
 ('01621', '01541'),
 ('10279', '10269'),
 ('47621', '58381'),
 ('53131', '53141'),
 ('40119', '40069'),
 ('44241', '44231'),
 ('07529', '07517'),
 ('64381', '64391'),
 ('44521', '44511'),
 ('43359', '40321'),
 ('28229', '03222'),
 ('75241', '75231'),
 ('92121', '92131'),
 ('76031', '76229'),
 ('66231', '66241'),
 ('45449', '49079'),
 ('25219', '25229'),
 ('21141', '21151'),
 ('18171', '18181'),
 ('17101', '17111'),
 ('94009', '94071'),
 ('75579', '75569'),
 ('17191', '19051'),
 ('28311', '28321'),
 ('52341', '52331'),
 ('80029', '01339'),
 ('10481', '10459'),
 ('46821', '46831'),
 ('58389', '47629'),
 ('16021', '16031'),
 ('65059', '67109'),
 ('06141', '10221'),
 ('17309', '17359'),
 ('43609', '40379'),
 ('80051', '80071'),
 ('78081', '78071'),
 ('97039', '97141'),
 ('47649', '47591'),
 ('25631', '26419'),
 ('96201', '96299'),
 ('80149', '80189'),
 ('66389', '62131'),
 ('71029', '71179'),
 ('78261', '78271'),
 ('06189', '05129'),
 ('30011', '30021'),
 ('25539', '25509'),
 ('62219', '62059'),
 ('21211', '28099'),
 ('66321', '66149'),
 ('43349', '43339'),
 ('56049', '56191'),
 ('11511', '11019'),
 ('07011', '07021'),
 ('21241', '21161'),
 ('23239', '23229'),
 ('45249', '45239'),
 ('13189', '13179'),
 ('65411', '65379'),
 ('42061', '42071'),
 ('43581', '43641'),
 ('40361', '40371'),
 ('82229', '82049'),
 ('18121', '18119'),
 ('67179', '67349'),
 ('58371', '58299'),
 ('28339', '28329'),
 ('53321', '53209'),
 ('96151', '96141'),
 ('65429', '65171'),
 ('95149', '95139'),
 ('02119', '03019'),
 ('60061', '84451'),
 ('11091', '11101'),
 ('78169', '78159'),
 ('25791', '25801'),
 ('65199', '77339'),
 ('24351', '24461'),
 ('66359', '66009'),
 ('13071', '13081'),
 ('59069', '59059'),
 ('42141', '42059'),
 ('60221', '60039'),
 ('65469', '65679'),
 ('22461', '22451'),
 ('76549', '76191'),
 ('28079', '28069'),
 ('44071', '44519'),
 ('59339', '59089'),
 ('59019', '55269'),
 ('64409', '64069'),
 ('61041', '62111'),
 ('65221', '65089'),
 ('70269', '71161'),
 ('46369', '46611'),
 ('52211', '52161'),
 ('43681', '43481'),
 ('82149', '82139'),
 ('44251', '44739'),
 ('54359', '54251'),
 ('15139', '15181'),
 ('18021', '18029'),
 ('76239', '76229'),
 ('84439', '84299'),
 ('58991', '59009'),
 ('84439', '84599'),
 ('63281', '63291'),
 ('05649', '14061'),
 ('26121', '26111'),
 ('70129', '70119'),
 ('56289', '56261'),
 ('62111', '62121'),
 ('44929', '44329'),
 ('50031', '50041'),
 ('42201', '42299'),
 ('43471', '43461'),
 ('77289', '77239'),
 ('77381', '76191'),
 ('27279', '27369'),
 ('46129', '46119'),
 ('54339', '54329'),
 ('52169', '52159'),
 ('43071', '43081'),
 ('59579', '59761'),
 ('54609', '08057'),
 ('25429', '25419'),
 ('06171', '06161'),
 ('65439', '65339'),
 ('43599', '43141'),
 ('05431', '05649'),
 ('84059', '84049'),
 ('21569', '21771'),
 ('47019', '46139'),
 ('27129', '27109'),
 ('70361', '70341'),
 ('46009', '46281'),
 ('58101', '58249'),
 ('59051', '59611'),
 ('58341', '58321'),
 ('43069', '43059'),
 ('70379', '70201'),
 ('25609', '25599'),
 ('65631', '65621'),
 ('10018', '05013'),
 ('63369', '66059'),
 ('01219', '01129'),
 ('43169', '43261'),
 ('44281', '44291'),
 ('76139', '76111'),
 ('84681', '84691'),
 ('58309', '47619'),
 ('68091', '68081'),
 ('42221', '42231'),
 ('25781', '25791'),
 ('78219', '98099'),
 ('46709', '46119'),
 ('71219', '71209'),
 ('25661', '25671'),
 ('54509', '54499'),
 ('11319', '11309'),
 ('44451', '44571'),
 ('13091', '13101'),
 ('31069', '31059'),
 ('44189', '44591'),
 ('54051', '55201'),
 ('28291', '12209'),
 ('66499', '66489'),
 ('78241', '78089'),
 ('20141', '20199'),
 ('20051', '20271'),
 ('58159', '58009'),
 ('21041', '21171'),
 ('67421', '67311'),
 ('14349', '14339'),
 ('52559', '52211'),
 ('67221', '67661'),
 ('63141', '63361'),
 ('46699', '46399'),
 ('70079', '70089'),
 ('25399', '26209'),
 ('78039', '78169'),
 ('22429', '22089'),
 ('95909', '96099'),
 ('63159', '63011'),
 ('14249', '14279'),
 ('44029', '44259'),
 ('43891', '43961'),
 ('67411', '67401'),
 ('21551', '21771'),
 ('65461', '65481'),
 ('03391', '03539'),
 ('77201', '77211'),
 ('76069', '96289'),
 ('22249', '22259'),
 ('93111', '83231'),
 ('40361', '43789'),
 ('32061', '32071'),
 ('96161', '96151'),
 ('14119', '14109'),
 ('52079', '51099'),
 ('21751', '21631'),
 ('64429', '64381'),
 ('43011', '43631'),
 ('67571', '67561'),
 ('21361', '21399'),
 ('10169', '10149'),
 ('59509', '59729'),
 ('96109', '85079'),
 ('77209', '77199'),
 ('14259', '14279'),
 ('44031', '45009'),
 ('10119', '10109'),
 ('67101', '65049'),
 ('75279', '76511'),
 ('28671', '28681'),
 ('23479', '23371'),
 ('31019', '27129'),
 ('07531', '40011'),
 ('67439', '67259'),
 ('26041', '26039'),
 ('65019', '64029'),
 ('81159', '81149'),
 ('77279', '77269'),
 ('26251', '26241'),
 ('62059', '62049'),
 ('61039', '70069'),
 ('03218', '28659'),
 ('59181', '59241'),
 ('77331', '65191'),
 ('84431', '85079'),
 ('66171', '66181'),
 ('01541', '07551'),
 ('24441', '24451'),
 ('23389', '22091'),
 ('68109', '68089'),
 ('65151', '65241'),
 ('29051', '29119'),
 ('71109', '71129'),
 ('43619', '43629'),
 ('63019', '62059'),
 ('92241', '92101'),
 ('84409', '84379'),
 ('27061', '27211'),
 ('81091', '70011'),
 ('58101', '58151'),
 ('84541', '84009'),
 ('81199', '81189'),
 ('11139', '10299'),
 ('17139', '17129'),
 ('76069', '75059'),
 ('52151', '52161'),
 ('43461', '43401'),
 ('96391', '96361'),
 ('43151', '43719'),
 ('12149', '12139'),
 ('46519', '46509'),
 ('44599', '44589'),
 ('84311', '84321'),
 ('24009', '23081'),
 ('25391', '24711'),
 ('46931', '46941'),
 ('75349', '84209'),
 ('44011', '44021'),
 ('13169', '13159'),
 ('28679', '28669'),
 ('20261', '20059'),
 ('04019', '04159'),
 ('49159', '49149'),
 ('58339', '58211'),
 ('27351', '27361'),
 ('67191', '67171'),
 ('95159', '96069'),
 ('21179', '21049'),
 ('03501', '02169'),
 ('66109', '66339'),
 ('84589', '84011'),
 ('77141', '77131'),
 ('21641', '21651'),
 ('67639', '67499'),
 ('95049', '95051'),
 ('77061', '78049'),
 ('22461', '22529'),
 ('43161', '43171'),
 ('63209', '63199'),
 ('53079', '53069'),
 ('59051', '59061'),
 ('46319', '46309'),
 ('10519', '10389'),
 ('10171', '10181'),
 ('70089', '70099'),
 ('81051', '82119'),
 ('67401', '67101'),
 ('41029', '41019'),
 ('02169', '02159'),
 ('67769', '67549'),
 ('67139', '67229'),
 ('50011', '50021'),
 ('20139', '20289'),
 ('92209', '92141'),
 ('57089', '59511'),
 ('43421', '43431'),
 ('91041', '91051'),
 ('43611', '43181'),
 ('98319', '98291'),
 ('64391', '64009'),
 ('41101', '41111'),
 ('02089', '02101'),
 ('28229', '20019'),
 ('54341', '54449'),
 ('28381', '28391'),
 ('14299', '14029'),
 ('58411', '58341'),
 ('96061', '97011'),
 ('16109', '16041'),
 ('83269', '83249'),
 ('90019', '90079'),
 ('22469', '22189'),
 ('76461', '76239'),
 ('43411', '43009'),
 ('48069', '48059'),
 ('96099', '96089'),
 ('25681', '24711'),
 ('23141', '23489'),
 ('85091', '85101'),
 ('55249', '55179'),
 ('59629', '59829'),
 ('22391', '22041'),
 ('64191', '73021'),
 ('28289', '28341'),
 ('91101', '92261'),
 ('59709', '59349'),
 ('54089', '54079'),
 ('54571', '54479'),
 ('17009', '17239'),
 ('59631', '59411'),
 ('15049', '14009'),
 ('92241', '92099'),
 ('42319', '03241'),
 ('58069', '58059'),
 ('11511', '11021'),
 ('70031', '70121'),
 ('21379', '21399'),
 ('65609', '65619'),
 ('51119', '41169'),
 ('84631', '84601'),
 ('43381', '43709'),
 ('54499', '54489'),
 ('63069', '63059'),
 ('64469', '64629'),
 ('21019', '20089'),
 ('68051', '55281'),
 ('11261', '11271'),
 ('51039', '51029'),
 ('44141', '44029'),
 ('25601', '25611'),
 ('21211', '21681'),
 ('16111', '16121'),
 ('20101', '28011'),
 ('92149', '92201'),
 ('83271', '83281'),
 ('43571', '43581'),
 ('05521', '10021'),
 ('55111', '55121'),
 ('42111', '43011'),
 ('18069', '18089'),
 ('21089', '21079'),
 ('76189', '76409'),
 ('63179', '63169'),
 ('64369', '64431'),
 ('11239', '11229'),
 ('75401', '75411'),
 ('72021', '72061'),
 ('43009', '43419'),
 ('40351', '40361'),
 ('93139', '84159'),
 ('58169', '58149'),
 ('62051', '62149'),
 ('64491', '64481'),
 ('96131', '96121'),
 ('72131', '72141'),
 ('25421', '25431'),
 ('44049', '44029'),
 ('32069', '32059'),
 ('43181', '43169'),
 ('25359', '25349'),
 ('62051', '63141'),
 ('27189', '27179'),
 ('15111', '15121'),
 ('71051', '71029'),
 ('57011', '57149'),
 ('59119', '59149'),
 ('92301', '92141'),
 ('70281', '70291'),
 ('11259', '11381'),
 ('49029', '49019'),
 ('32081', '33011'),
 ('47091', '47101'),
 ('82011', '82032'),
 ('58381', '58229'),
 ('53059', '53049'),
 ('21391', '22481'),
 ('22499', '21361'),
 ('09037', '08138'),
 ('70269', '70259'),
 ('45349', '45351'),
 ('76401', '76181'),
 ('59073', '59009'),
 ('08058', '08079'),
 ('20141', '20151'),
 ('27109', '27099'),
 ('21641', '21679'),
 ('64051', '64061'),
 ('44491', '44501'),
 ('77161', '77281'),
 ('64009', '64551'),
 ('50209', '50199'),
 ('03391', '03511'),
 ('80171', '80181'),
 ('59751', '59589'),
 ('19091', '17151'),
 ('85081', '85071'),
 ('27199', '27189'),
 ('98111', '98109'),
 ('12099', '12089'),
 ('03391', '03331'),
 ('27511', '27521'),
 ('04222', '04223'),
 ('22281', '22219'),
 ('43669', '43679'),
 ('75081', '76049'),
 ('46791', '46801'),
 ('27401', '27399'),
 ('28331', '28451'),
 ('26259', '26269'),
 ('70071', '71081'),
 ('71121', '71131'),
 ('14109', '14089'),
 ('75359', '75369'),
 ('10099', '10089'),
 ('83059', '83049'),
 ('46651', '46961'),
 ('70259', '81229'),
 ('58511', '58601'),
 ('80141', '80219'),
 ('41111', '41031'),
 ('66041', '66051'),
 ('47629', '46749'),
 ('52501', '52131'),
 ('54519', '54309'),
 ('92099', '92161'),
 ('67569', '67579'),
 ('67391', '67441'),
 ('62249', '62239'),
 ('44231', '44261'),
 ('54231', '54271'),
 ('17269', '17279'),
 ('59621', '59181'),
 ('44679', '44669'),
 ('21241', '09169'),
 ('52221', '52299'),
 ('16089', '16079'),
 ('44349', '44339'),
 ('44009', '44539'),
 ('44421', '44411'),
 ('95079', '99189'),
 ('40211', '40221'),
 ('24529', '24519'),
 ('65199', '75359'),
 ('53261', '53249'),
 ('66601', '66571'),
 ('30111', '30121'),
 ('98141', '98151'),
 ('54289', '54279'),
 ('71169', '70379'),
 ('53011', '53121'),
 ('55019', '56209'),
 ('08137', '08019'),
 ('25651', '25609'),
 ('64211', '64221'),
 ('71111', '71201'),
 ('25801', '25729'),
 ('24639', '24259'),
 ('27479', '27451'),
 ('63399', '66339'),
 ('29111', '29069'),
 ('66399', '66099'),
 ('84109', '85091'),
 ('98119', '78199'),
 ('44731', '44259'),
 ('92081', '93011'),
 ('52279', '52259'),
 ('41041', '41051'),
 ('44649', '44259'),
 ('66139', '66271'),
 ('84029', '84019'),
 ('49219', '49249'),
 ('64131', '77339'),
 ('67159', '67139'),
 ('72011', '72021'),
 ('60229', '60159'),
 ('67721', '67731'),
 ('17041', '17061'),
 ('42291', '42209'),
 ('07221', '60101'),
 ('46779', '46769'),
 ('21011', '21779'),
 ('15149', '14009'),
 ('44259', '44041'),
 ('82081', '82091'),
 ('47069', '47059'),
 ('55159', '55019'),
 ('48131', '48119'),
 ('43529', '43641'),
 ('17241', '17111'),
 ('21079', '21139'),
 ('83321', '83329'),
 ('83049', '83029'),
 ('25571', '25591'),
 ('98049', '98039'),
 ('84419', '84409'),
 ('03129', '03217'),
 ('53169', '53379'),
 ('22069', '22059'),
 ('18159', '18141'),
 ('55209', '54259'),
 ('72029', '71099'),
 ('65261', '65239'),
 ('44131', '44271'),
 ('55019', '55129'),
 ('28651', '28051'),
 ('06081', '10221'),
 ('49061', '49071'),
 ('55021', '55179'),
 ('49149', '49199'),
 ('78061', '78079'),
 ('84151', '94011'),
 ('66479', '66459'),
 ('45251', '45311'),
 ('92139', '92129'),
 ('07517', '04029'),
 ('47189', '47199'),
 ('22009', '22251'),
 ('77059', '78069'),
 ('75089', '75109'),
 ('03218', '54299'),
 ('59009', '59669'),
 ('12201', '42311'),
 ('24359', '24349'),
 ('65091', '65489'),
 ('84461', '84471'),
 ('24301', '24641'),
 ('63019', '63151'),
 ('25429', '25009'),
 ('64629', '67621'),
 ('40121', '50061'),
 ('43519', '43749'),
 ('43379', '43369'),
 ('43309', '43289'),
 ('22561', '22491'),
 ('46591', '45591'),
 ('11351', '12121'),
 ('91099', '91041'),
 ('02049', '02119'),
 ('66381', '66361'),
 ('20021', '20031'),
 ('11529', '11519'),
 ('80009', '80051'),
 ('59339', '59549'),
 ('92201', '83121'),
 ('64311', '64321'),
 ('19081', '18111'),
 ('77169', '77319'),
 ('14199', '14249'),
 ('13079', '13069'),
 ('04179', '01012'),
 ('76229', '76219'),
 ('58361', '58451'),
 ('85051', '85061'),
 ('28269', '28259'),
 ('46659', '46681'),
 ('63359', '64399'),
 ('97159', '97149'),
 ('97321', '97059'),
 ('30129', '30119'),
 ('24339', '24389'),
 ('50241', '60101'),
 ('93131', '01541'),
 ('09141', '13011'),
 ('54631', '54659'),
 ('59711', '59571'),
 ('58581', '58571'),
 ('65489', '65469'),
 ('43181', '43171'),
 ('10411', '10421'),
 ('28551', '28561'),
 ('92109', '92099'),
 ('81109', '70251'),
 ('46119', '46069'),
 ('67409', '67399'),
 ('27441', '27431'),
 ('52341', '52311'),
 ('43771', '43671'),
 ('76089', '76329'),
 ('18149', '18141'),
 ('63319', '66109'),
 ('16219', '15219'),
 ('27301', '27321'),
 ('28229', '20059'),
 ('59411', '59401'),
 ('22189', '22179'),
 ('46209', '46709'),
 ('67129', '67119'),
 ('46471', '46481'),
 ('31039', '31029'),
 ('01012', '01113'),
 ('98101', '98119'),
 ('42239', '42229'),
 ('46341', '46351'),
 ('58219', '58159'),
 ('44951', '44931'),
 ('44459', '44469'),
 ('43579', '43609'),
 ('46211', '46239'),
 ('11171', '11401'),
 ('57121', '57131'),
 ('71161', '71151'),
 ('80189', '80179'),
 ('64101', '64111'),
 ('40331', '40351'),
 ('44109', '44099'),
 ('42131', '42011'),
 ('71189', '71071'),
 ('01619', '04168'),
 ('03217', '28041'),
 ('26261', '26251'),
 ('59141', '59111'),
 ('13062', '13071'),
 ('43119', '43109'),
 ('10419', '10409'),
 ('43361', '43371'),
 ('25061', '25071'),
 ('10017', '05012'),
 ('54319', '54531'),
 ('77009', '78109'),
 ('77041', '77031'),
 ('55109', '55089'),
 ('59051', '59339'),
 ('92221', '92231'),
 ('16149', '16139'),
 ('54281', '54291'),
 ('75419', '75409'),
 ('55309', '55159'),
 ('44119', '44391'),
 ('44261', '46499'),
 ('20191', '20149'),
 ('83079', '83209'),
 ('96301', '96411'),
 ('54248', '54019'),
 ('19039', '19029'),
 ('58279', '58389'),
 ('71201', '71211'),
 ('64439', '64361'),
 ('43009', '43421'),
 ('67349', '67449'),
 ('02171', '02051'),

In [26]:
%%time
total_df = get_stop_pair_features(total_pairs)
total_df.head()

Wall time: 681 ms

,best_parallelized_time,dist_m,avg_trips,ttt_contribution,ttt_pm,n1_latitude,n2_latitude,n1_longitude,n2_longitude,n1_planningArea,n2_planningArea,n1_avg_flow,n2_avg_flow,n1_pop_estimate,n2_pop_estimate
0,291.000000,200.0,7.142857,2078.571429,10.392857,1.373585,1.376058,103.920151,103.919841,PAYA LEBAR,PAYA LEBAR,1071,11239,0,0
1,93.597644,600.0,13.464286,1254.888212,2.091480,1.276808,1.279499,103.789709,103.785490,QUEENSTOWN,QUEENSTOWN,8658,52235,72,435
2,256.500000,300.0,22.714286,5549.785714,18.499286,1.339259,1.338012,103.846784,103.848229,TOA PAYOH,TOA PAYOH,51215,22305,470,205
3,404.000000,300.0,2.952381,1205.857143,4.019524,1.386030,1.387110,103.906245,103.908399,SENGKANG,SENGKANG,10919,42206,103,399
4,205.733341,500.0,178.750000,36398.809109,72.797618,1.327065,1.328843,103.892173,103.889627,GEYLANG,GEYLANG,105390,83207,393,310

In [27]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   best_parallelized_time  10000 non-null  float64
 1   dist_m                  10000 non-null  float64
 2   avg_trips               10000 non-null  float64
 3   ttt_contribution        10000 non-null  float64
 4   ttt_pm                  10000 non-null  float64
 5   n1_latitude             10000 non-null  float64
 6   n2_latitude             10000 non-null  float64
 7   n1_longitude            10000 non-null  float64
 8   n2_longitude            10000 non-null  float64
 9   n1_planningArea         10000 non-null  object
 10  n2_planningArea         10000 non-null  object
 11  n1_avg_flow             10000 non-null  int64
 12  n2_avg_flow             10000 non-null  int64
 13  n1_pop_estimate         10000 non-null  int64
 14  n2_pop_estimate         10000 non-null  int64
dtypes: float64(9), int64(4), object(2)
memory usage: 1.1+ MB

In [29]:
total_df['n1_planningArea'].value_counts()

QUEENSTOWN                 634
JURONG WEST                567
BUKIT MERAH                509
TUAS                       389
WOODLANDS                  386
BUKIT BATOK                385
JURONG EAST                353
ANG MO KIO                 346
BEDOK                      343
HOUGANG                    328
TAMPINES                   326
YISHUN                     313
PIONEER                    305
BUKIT TIMAH                283
CLEMENTI                   279
SEMBAWANG                  255
SENGKANG                   252
CHOA CHU KANG              244
DOWNTOWN CORE              241
KALLANG                    223
TOA PAYOH                  220
SERANGOON                  219
PASIR RIS                  205
BUKIT PANJANG              203
GEYLANG                    202
BISHAN                     177
BOON LAY                   176
PUNGGOL                    173
NOVENA                     166
WESTERN WATER CATCHMENT    163
SUNGEI KADUT               161
TANGLIN                    123
ROCHOR                      88
OUTRAM                      83
CHANGI                      82
LIM CHU KANG                68
MARINE PARADE               61
MUSEUM                      61
ORCHARD                     54
0                           52
SINGAPORE RIVER             43
RIVER VALLEY                39
PAYA LEBAR                  37
CENTRAL WATER CATCHMENT     36
SELETAR                     34
TENGAH                      25
MANDAI                      25
NEWTON                      23
MARINA SOUTH                15
SOUTHERN ISLANDS            13
STRAITS VIEW                11
CHANGI BAY                   1
Name: n1_planningArea, dtype: int64

In [30]:
total_df['label'] = labels
total_df.head()

,best_parallelized_time,dist_m,avg_trips,ttt_contribution,ttt_pm,n1_latitude,n2_latitude,n1_longitude,n2_longitude,n1_planningArea,n2_planningArea,n1_avg_flow,n2_avg_flow,n1_pop_estimate,n2_pop_estimate,label
0,291.000000,200.0,7.142857,2078.571429,10.392857,1.373585,1.376058,103.920151,103.919841,PAYA LEBAR,PAYA LEBAR,1071,11239,0,0,1
1,93.597644,600.0,13.464286,1254.888212,2.091480,1.276808,1.279499,103.789709,103.785490,QUEENSTOWN,QUEENSTOWN,8658,52235,72,435,1
2,256.500000,300.0,22.714286,5549.785714,18.499286,1.339259,1.338012,103.846784,103.848229,TOA PAYOH,TOA PAYOH,51215,22305,470,205,1
3,404.000000,300.0,2.952381,1205.857143,4.019524,1.386030,1.387110,103.906245,103.908399,SENGKANG,SENGKANG,10919,42206,103,399,1
4,205.733341,500.0,178.750000,36398.809109,72.797618,1.327065,1.328843,103.892173,103.889627,GEYLANG,GEYLANG,105390,83207,393,310,1

In [31]:
## shuffling
total_df = total_df.sample(frac=1).reset_index(drop=True)
total_df.head()

,best_parallelized_time,dist_m,avg_trips,ttt_contribution,ttt_pm,n1_latitude,n2_latitude,n1_longitude,n2_longitude,n1_planningArea,n2_planningArea,n1_avg_flow,n2_avg_flow,n1_pop_estimate,n2_pop_estimate,label
0,0.000000,4844.0,0.000000,0.000000,0.000000,1.373135,1.333616,103.948026,103.929229,PASIR RIS,BEDOK,62111,69499,424,379,0
1,49.344635,400.0,2279.035714,108371.179255,270.927948,1.439644,1.440888,103.797400,103.800187,WOODLANDS,WOODLANDS,105230,509624,1067,5167,1
2,0.000000,9163.0,0.000000,0.000000,0.000000,1.450880,1.403556,103.828431,103.896031,SEMBAWANG,PUNGGOL,63689,4490,862,106,0
3,68.985746,600.0,58.821429,4015.788445,6.692981,1.316623,1.317370,103.890334,103.894800,GEYLANG,GEYLANG,76575,188673,285,703,1
4,226.765850,300.0,5.035714,1177.590669,3.925302,1.397380,1.396373,103.888897,103.893817,SENGKANG,SENGKANG,21647,6024,204,57,1

In [41]:
total_df['n1_planningArea'] = total_df['n1_planningArea'].astype("string")
total_df['n2_planningArea'] = total_df['n2_planningArea'].astype("string")
total_df.head()

,best_parallelized_time,dist_m,avg_trips,ttt_contribution,ttt_pm,n1_latitude,n2_latitude,n1_longitude,n2_longitude,n1_planningArea,n2_planningArea,n1_avg_flow,n2_avg_flow,n1_pop_estimate,n2_pop_estimate,label
0,0.000000,4844.0,0.000000,0.000000,0.000000,1.373135,1.333616,103.948026,103.929229,PASIR RIS,BEDOK,62111,69499,424,379,0
1,49.344635,400.0,2279.035714,108371.179255,270.927948,1.439644,1.440888,103.797400,103.800187,WOODLANDS,WOODLANDS,105230,509624,1067,5167,1
2,0.000000,9163.0,0.000000,0.000000,0.000000,1.450880,1.403556,103.828431,103.896031,SEMBAWANG,PUNGGOL,63689,4490,862,106,0
3,68.985746,600.0,58.821429,4015.788445,6.692981,1.316623,1.317370,103.890334,103.894800,GEYLANG,GEYLANG,76575,188673,285,703,1
4,226.765850,300.0,5.035714,1177.590669,3.925302,1.397380,1.396373,103.888897,103.893817,SENGKANG,SENGKANG,21647,6024,204,57,1

In [42]:
pa_set = set(total_df['n1_planningArea'].unique()).union(set(total_df['n2_planningArea'].unique()))
pa_set

{'0',
 'ANG MO KIO',
 'BEDOK',
 'BISHAN',
 'BOON LAY',
 'BUKIT BATOK',
 'BUKIT MERAH',
 'BUKIT PANJANG',
 'BUKIT TIMAH',
 'CENTRAL WATER CATCHMENT',
 'CHANGI',
 'CHANGI BAY',
 'CHOA CHU KANG',
 'CLEMENTI',
 'DOWNTOWN CORE',
 'GEYLANG',
 'HOUGANG',
 'JURONG EAST',
 'JURONG WEST',
 'KALLANG',
 'LIM CHU KANG',
 'MANDAI',
 'MARINA SOUTH',
 'MARINE PARADE',
 'MUSEUM',
 'NEWTON',
 'NOVENA',
 'ORCHARD',
 'OUTRAM',
 'PASIR RIS',
 'PAYA LEBAR',
 'PIONEER',
 'PUNGGOL',
 'QUEENSTOWN',
 'RIVER VALLEY',
 'ROCHOR',
 'SELETAR',
 'SEMBAWANG',
 'SENGKANG',
 'SERANGOON',
 'SINGAPORE RIVER',
 'SOUTHERN ISLANDS',
 'STRAITS VIEW',
 'SUNGEI KADUT',
 'TAMPINES',
 'TANGLIN',
 'TENGAH',
 'TOA PAYOH',
 'TUAS',
 'WESTERN WATER CATCHMENT',
 'WOODLANDS',
 'YISHUN'}

In [43]:
area_label_encoder = LabelEncoder()
area_label_encoder.fit(list(pa_set))

LabelEncoder()

In [46]:
total_df['n1_planningArea'] = area_label_encoder.transform(total_df['n1_planningArea'])
total_df['n2_planningArea'] = area_label_encoder.transform(total_df['n2_planningArea'])
total_df.head()

,best_parallelized_time,dist_m,avg_trips,ttt_contribution,ttt_pm,n1_latitude,n2_latitude,n1_longitude,n2_longitude,n1_planningArea,n2_planningArea,n1_avg_flow,n2_avg_flow,n1_pop_estimate,n2_pop_estimate,label
0,0.000000,4844.0,0.000000,0.000000,0.000000,1.373135,1.333616,103.948026,103.929229,29,2,62111,69499,424,379,0
1,49.344635,400.0,2279.035714,108371.179255,270.927948,1.439644,1.440888,103.797400,103.800187,50,50,105230,509624,1067,5167,1
2,0.000000,9163.0,0.000000,0.000000,0.000000,1.450880,1.403556,103.828431,103.896031,37,32,63689,4490,862,106,0
3,68.985746,600.0,58.821429,4015.788445,6.692981,1.316623,1.317370,103.890334,103.894800,15,15,76575,188673,285,703,1
4,226.765850,300.0,5.035714,1177.590669,3.925302,1.397380,1.396373,103.888897,103.893817,38,38,21647,6024,204,57,1

In [47]:
train_df = total_df.iloc[:8000, :].copy()
test_df = total_df.iloc[8000:, :].copy().reset_index(drop=True)

In [54]:
train_df.to_csv('data/new_links_train.csv', index=False)
test_df.to_csv('data/new_links_test.csv', index=False)