In [20]:
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import requests
import json
import time

In [3]:
# change this
my_token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjkzMTcsInVzZXJfaWQiOjkzMTcsImVtYWlsIjoidmFydW5zcmkwMDFAZS5udHUuZWR1LnNnIiwiZm9yZXZlciI6ZmFsc2UsImlzcyI6Imh0dHA6XC9cL29tMi5kZmUub25lbWFwLnNnXC9hcGlcL3YyXC91c2VyXC9zZXNzaW9uIiwiaWF0IjoxNjY1NDc0NTE1LCJleHAiOjE2NjU5MDY1MTUsIm5iZiI6MTY2NTQ3NDUxNSwianRpIjoiMWVlZDg1ZjkwODM4ODgwZjI0NzVmMTE4Zjk5NWFlNDMifQ.RwiuSLIULpPX-eLczPhoEFbvEwgRtrxRcKRCyFrXBYI"

In [31]:
def get_planning_area(lat, lng, token=my_token):
    url = "https://developers.onemap.sg/privateapi/popapi/getPlanningarea"
    params = {"token":token, "lat": lat, "lng": lng, "year":2014}
    res = requests.get(url, params)
    try:
        data = res.json()[0]
        return data['pln_area_n']
    except:
        return None

In [23]:
get_planning_area(1.3, 103.8)

'QUEENSTOWN'

In [24]:
get_planning_area(1.396006, 103.887595)

'SENGKANG'

In [7]:
def get_all_planning_areas(token=my_token, year=2014):
    url = "https://developers.onemap.sg/privateapi/popapi/getPlanningareaNames"
    params = {'token':token, 'year':year}
    res = requests.get(url, params)
    planning_area_list = []
    for r in res.json():
        planning_area_list.append(r['pln_area_n'])
    return planning_area_list

In [8]:
planning_area_list = get_all_planning_areas()
print(planning_area_list)
print(len(planning_area_list))

['ANG MO KIO', 'BEDOK', 'BISHAN', 'BOON LAY', 'BUKIT BATOK', 'BUKIT MERAH', 'CHOA CHU KANG', 'BUKIT PANJANG', 'JURONG EAST', 'QUEENSTOWN', 'JURONG WEST', 'BUKIT TIMAH', 'CENTRAL WATER CATCHMENT', 'CHANGI', 'CHANGI BAY', 'TENGAH', 'CLEMENTI', 'GEYLANG', 'HOUGANG', 'PIONEER', 'PUNGGOL', 'SELETAR', 'SEMBAWANG', 'SENGKANG', 'SERANGOON', 'SIMPANG', 'SOUTHERN ISLANDS', 'SUNGEI KADUT', 'TAMPINES', 'TANGLIN', 'TOA PAYOH', 'TUAS', 'WESTERN ISLANDS', 'WESTERN WATER CATCHMENT', 'WOODLANDS', 'YISHUN', 'DOWNTOWN CORE', 'MARINA EAST', 'MARINA SOUTH', 'MUSEUM', 'NEWTON', 'ORCHARD', 'OUTRAM', 'KALLANG', 'LIM CHU KANG', 'MANDAI', 'MARINE PARADE', 'NORTH-EASTERN ISLANDS', 'NOVENA', 'PASIR RIS', 'PAYA LEBAR', 'RIVER VALLEY', 'ROCHOR', 'SINGAPORE RIVER', 'STRAITS VIEW']
55

In [9]:
sorted(planning_area_list)

['ANG MO KIO',
 'BEDOK',
 'BISHAN',
 'BOON LAY',
 'BUKIT BATOK',
 'BUKIT MERAH',
 'BUKIT PANJANG',
 'BUKIT TIMAH',
 'CENTRAL WATER CATCHMENT',
 'CHANGI',
 'CHANGI BAY',
 'CHOA CHU KANG',
 'CLEMENTI',
 'DOWNTOWN CORE',
 'GEYLANG',
 'HOUGANG',
 'JURONG EAST',
 'JURONG WEST',
 'KALLANG',
 'LIM CHU KANG',
 'MANDAI',
 'MARINA EAST',
 'MARINA SOUTH',
 'MARINE PARADE',
 'MUSEUM',
 'NEWTON',
 'NORTH-EASTERN ISLANDS',
 'NOVENA',
 'ORCHARD',
 'OUTRAM',
 'PASIR RIS',
 'PAYA LEBAR',
 'PIONEER',
 'PUNGGOL',
 'QUEENSTOWN',
 'RIVER VALLEY',
 'ROCHOR',
 'SELETAR',
 'SEMBAWANG',
 'SENGKANG',
 'SERANGOON',
 'SIMPANG',
 'SINGAPORE RIVER',
 'SOUTHERN ISLANDS',
 'STRAITS VIEW',
 'SUNGEI KADUT',
 'TAMPINES',
 'TANGLIN',
 'TENGAH',
 'TOA PAYOH',
 'TUAS',
 'WESTERN ISLANDS',
 'WESTERN WATER CATCHMENT',
 'WOODLANDS',
 'YISHUN']

In [23]:
def get_populations(planning_area_list, token=my_token, year=2021):
    population_dict = {}
    for area in planning_area_list:
        url = "https://developers.onemap.sg/privateapi/popapi/getPopulationAgeGroup"
        params = {'token':token, 'year':year, 'planningArea':area}
        res = requests.get(url, params)
        data = res.json()[0]
        children = data['age_0_4']+data['age_5_9']+data['age_10_14']+data['age_15_19']
        adults = data['age_20_24']+data['age_25_29']+data['age_30_34']+data['age_35_39']+data['age_40_44']+data['age_45_49']+data['age_50_54']+data['age_55_59']+data['age_60_64']
        seniors = data['age_65_69']+data['age_70_74']+data['age_75_79']+data['age_80_84']+data['age_85_over']
        total = data['total']
        
        population_dict[area] = {"total":total, "children":children, "adults":adults, "seniors": seniors}
    return population_dict

In [29]:
pop_dict_2020 = get_populations(planning_area_list, year=2020)
print(pop_dict_2020)

{'ANG MO KIO': {'total': 162280, 'children': 26010, 'adults': 101040, 'seniors': 35220}, 'BEDOK': {'total': 134210, 'children': 24420, 'adults': 85420, 'seniors': 24370}, 'BISHAN': {'total': 87320, 'children': 15440, 'adults': 55840, 'seniors': 16040}, 'BOON LAY': {'total': 0, 'children': 0, 'adults': 0, 'seniors': 0}, 'BUKIT BATOK': {'total': 77480, 'children': 15730, 'adults': 51420, 'seniors': 10360}, 'BUKIT MERAH': {'total': 151250, 'children': 25240, 'adults': 92710, 'seniors': 33310}, 'CHOA CHU KANG': {'total': 192070, 'children': 40570, 'adults': 131440, 'seniors': 20070}, 'BUKIT PANJANG': {'total': 68150, 'children': 14660, 'adults': 45180, 'seniors': 8340}, 'JURONG EAST': {'total': 78600, 'children': 13100, 'adults': 50530, 'seniors': 14960}, 'QUEENSTOWN': {'total': 95930, 'children': 16570, 'adults': 59040, 'seniors': 20310}, 'JURONG WEST': {'total': 130840, 'children': 26700, 'adults': 86730, 'seniors': 17420}, 'BUKIT TIMAH': {'total': 77860, 'children': 17830, 'adults': 46960, 'seniors': 13090}, 'CENTRAL WATER CATCHMENT': {'total': 0, 'children': 0, 'adults': 0, 'seniors': 0}, 'CHANGI': {'total': 1850, 'children': 530, 'adults': 1140, 'seniors': 190}, 'CHANGI BAY': {'total': 0, 'children': 0, 'adults': 0, 'seniors': 0}, 'TENGAH': {'total': 10, 'children': 0, 'adults': 0, 'seniors': 0}, 'CLEMENTI': {'total': 43630, 'children': 8650, 'adults': 26790, 'seniors': 8210}, 'GEYLANG': {'total': 55860, 'children': 8690, 'adults': 35630, 'seniors': 11540}, 'HOUGANG': {'total': 227560, 'children': 40400, 'adults': 150260, 'seniors': 36900}, 'PIONEER': {'total': 80, 'children': 0, 'adults': 0, 'seniors': 0}, 'PUNGGOL': {'total': 174450, 'children': 51470, 'adults': 109620, 'seniors': 13390}, 'SELETAR': {'total': 300, 'children': 60, 'adults': 210, 'seniors': 30}, 'SEMBAWANG': {'total': 102640, 'children': 24930, 'adults': 68570, 'seniors': 9170}, 'SENGKANG': {'total': 122480, 'children': 32590, 'adults': 78820, 'seniors': 11070}, 'SERANGOON': {'total': 116900, 'children': 19280, 'adults': 75140, 'seniors': 22500}, 'SIMPANG': {'total': 0, 'children': 0, 'adults': 0, 'seniors': 0}, 'SOUTHERN ISLANDS': {'total': 920, 'children': 190, 'adults': 650, 'seniors': 70}, 'SUNGEI KADUT': {'total': 370, 'children': 70, 'adults': 240, 'seniors': 90}, 'TAMPINES': {'total': 259900, 'children': 48500, 'adults': 173140, 'seniors': 38260}, 'TANGLIN': {'total': 10100, 'children': 2420, 'adults': 6160, 'seniors': 1530}, 'TOA PAYOH': {'total': 121850, 'children': 20190, 'adults': 76040, 'seniors': 25640}, 'TUAS': {'total': 70, 'children': 0, 'adults': 0, 'seniors': 0}, 'WESTERN ISLANDS': {'total': 0, 'children': 0, 'adults': 0, 'seniors': 0}, 'WESTERN WATER CATCHMENT': {'total': 290, 'children': 60, 'adults': 220, 'seniors': 10}, 'WOODLANDS': {'total': 255130, 'children': 55600, 'adults': 173940, 'seniors': 25600}, 'YISHUN': {'total': 221610, 'children': 45350, 'adults': 147410, 'seniors': 28870}, 'DOWNTOWN CORE': {'total': 1590, 'children': 180, 'adults': 1210, 'seniors': 230}, 'MARINA EAST': {'total': 0, 'children': 0, 'adults': 0, 'seniors': 0}, 'MARINA SOUTH': {'total': 0, 'children': 0, 'adults': 0, 'seniors': 0}, 'MUSEUM': {'total': 510, 'children': 80, 'adults': 390, 'seniors': 60}, 'NEWTON': {'total': 4310, 'children': 900, 'adults': 2800, 'seniors': 610}, 'ORCHARD': {'total': 920, 'children': 200, 'adults': 570, 'seniors': 160}, 'OUTRAM': {'total': 9130, 'children': 1360, 'adults': 5330, 'seniors': 2460}, 'KALLANG': {'total': 51260, 'children': 8030, 'adults': 31770, 'seniors': 11470}, 'LIM CHU KANG': {'total': 110, 'children': 30, 'adults': 70, 'seniors': 20}, 'MANDAI': {'total': 2090, 'children': 400, 'adults': 1410, 'seniors': 270}, 'MARINE PARADE': {'total': 24520, 'children': 4580, 'adults': 14710, 'seniors': 5250}, 'NORTH-EASTERN ISLANDS': {'total': 50, 'children': 0, 'adults': 0, 'seniors': 0}, 'NOVENA': {'total': 49330, 'children': 9950, 'adults': 30720, 'seniors': 8680}, 'PASIR RIS': {'total': 72540, 'children': 15030, 'adults': 49840, 'seniors': 7670}, 'PAYA LEBAR': {'total': 0, 'children': 0, 'adults': 0, 'seniors': 0}, 'RIVER VALLEY': {'total': 5450, 'children': 1200, 'adults': 3570, 'seniors': 700}, 'ROCHOR': {'total': 6530, 'children': 880, 'adults': 4260, 'seniors': 1400}, 'SINGAPORE RIVER': {'total': 1730, 'children': 430, 'adults': 1150, 'seniors': 150}, 'STRAITS VIEW': {'total': 0, 'children': 0, 'adults': 0, 'seniors': 0}}

In [31]:
pop_df = pd.DataFrame.from_dict(pop_dict_2020, orient='index')
pop_df

                          total  children  adults  seniors
ANG MO KIO               162280     26010  101040    35220
BEDOK                    134210     24420   85420    24370
BISHAN                    87320     15440   55840    16040
BOON LAY                      0         0       0        0
BUKIT BATOK               77480     15730   51420    10360
BUKIT MERAH              151250     25240   92710    33310
CHOA CHU KANG            192070     40570  131440    20070
BUKIT PANJANG             68150     14660   45180     8340
JURONG EAST               78600     13100   50530    14960
QUEENSTOWN                95930     16570   59040    20310
JURONG WEST              130840     26700   86730    17420
BUKIT TIMAH               77860     17830   46960    13090
CENTRAL WATER CATCHMENT       0         0       0        0
CHANGI                     1850       530    1140      190
CHANGI BAY                    0         0       0        0
TENGAH                       10         0       0        0
CLEMENTI                  43630      8650   26790     8210
GEYLANG                   55860      8690   35630    11540
HOUGANG                  227560     40400  150260    36900
PIONEER                      80         0       0        0
PUNGGOL                  174450     51470  109620    13390
SELETAR                     300        60     210       30
SEMBAWANG                102640     24930   68570     9170
SENGKANG                 122480     32590   78820    11070
SERANGOON                116900     19280   75140    22500
SIMPANG                       0         0       0        0
SOUTHERN ISLANDS            920       190     650       70
SUNGEI KADUT                370        70     240       90
TAMPINES                 259900     48500  173140    38260
TANGLIN                   10100      2420    6160     1530
TOA PAYOH                121850     20190   76040    25640
TUAS                         70         0       0        0
WESTERN ISLANDS               0         0       0        0
WESTERN WATER CATCHMENT     290        60     220       10
WOODLANDS                255130     55600  173940    25600
YISHUN                   221610     45350  147410    28870
DOWNTOWN CORE              1590       180    1210      230
MARINA EAST                   0         0       0        0
MARINA SOUTH                  0         0       0        0
MUSEUM                      510        80     390       60
NEWTON                     4310       900    2800      610
ORCHARD                     920       200     570      160
OUTRAM                     9130      1360    5330     2460
KALLANG                   51260      8030   31770    11470
LIM CHU KANG                110        30      70       20
MANDAI                     2090       400    1410      270
MARINE PARADE             24520      4580   14710     5250
NORTH-EASTERN ISLANDS        50         0       0        0
NOVENA                    49330      9950   30720     8680
PASIR RIS                 72540     15030   49840     7670
PAYA LEBAR                    0         0       0        0
RIVER VALLEY               5450      1200    3570      700
ROCHOR                     6530       880    4260     1400
SINGAPORE RIVER            1730       430    1150      150
STRAITS VIEW                  0         0       0        0

## Working on nodes

In [11]:
pop_df = pd.read_csv('data/population_2020.csv', index_col=0)
pop_df

                          total  children  adults  seniors
ANG MO KIO               162280     26010  101040    35220
BEDOK                    134210     24420   85420    24370
BISHAN                    87320     15440   55840    16040
BOON LAY                      0         0       0        0
BUKIT BATOK               77480     15730   51420    10360
BUKIT MERAH              151250     25240   92710    33310
CHOA CHU KANG            192070     40570  131440    20070
BUKIT PANJANG             68150     14660   45180     8340
JURONG EAST               78600     13100   50530    14960
QUEENSTOWN                95930     16570   59040    20310
JURONG WEST              130840     26700   86730    17420
BUKIT TIMAH               77860     17830   46960    13090
CENTRAL WATER CATCHMENT       0         0       0        0
CHANGI                     1850       530    1140      190
CHANGI BAY                    0         0       0        0
TENGAH                       10         0       0        0
CLEMENTI                  43630      8650   26790     8210
GEYLANG                   55860      8690   35630    11540
HOUGANG                  227560     40400  150260    36900
PIONEER                      80         0       0        0
PUNGGOL                  174450     51470  109620    13390
SELETAR                     300        60     210       30
SEMBAWANG                102640     24930   68570     9170
SENGKANG                 122480     32590   78820    11070
SERANGOON                116900     19280   75140    22500
SIMPANG                       0         0       0        0
SOUTHERN ISLANDS            920       190     650       70
SUNGEI KADUT                370        70     240       90
TAMPINES                 259900     48500  173140    38260
TANGLIN                   10100      2420    6160     1530
TOA PAYOH                121850     20190   76040    25640
TUAS                         70         0       0        0
WESTERN ISLANDS               0         0       0        0
WESTERN WATER CATCHMENT     290        60     220       10
WOODLANDS                255130     55600  173940    25600
YISHUN                   221610     45350  147410    28870
DOWNTOWN CORE              1590       180    1210      230
MARINA EAST                   0         0       0        0
MARINA SOUTH                  0         0       0        0
MUSEUM                      510        80     390       60
NEWTON                     4310       900    2800      610
ORCHARD                     920       200     570      160
OUTRAM                     9130      1360    5330     2460
KALLANG                   51260      8030   31770    11470
LIM CHU KANG                110        30      70       20
MANDAI                     2090       400    1410      270
MARINE PARADE             24520      4580   14710     5250
NORTH-EASTERN ISLANDS        50         0       0        0
NOVENA                    49330      9950   30720     8680
PASIR RIS                 72540     15030   49840     7670
PAYA LEBAR                    0         0       0        0
RIVER VALLEY               5450      1200    3570      700
ROCHOR                     6530       880    4260     1400
SINGAPORE RIVER            1730       430    1150      150
STRAITS VIEW                  0         0       0        0

In [13]:
with open('data/train_station_full_info.json', 'r') as f:
    train_data = json.load(f)
with open('data/bus_stop_full_info.json', 'r') as f:
    bus_data = json.load(f)

In [14]:
len(train_data), len(bus_data)

(166, 5075)

In [18]:
bus_stats = {'id':[], 'lat':[], 'lng':[], 'planningArea':[], 'tap_in':[], 'tap_out':[]}
for key, val in bus_data.items():
    try:
        bus_stats['tap_in'].append(5*sum(val['weekdays']['tap_in'])+2*sum(val['weekends']['tap_in']))
        bus_stats['tap_out'].append(5*sum(val['weekdays']['tap_out'])+2*sum(val['weekends']['tap_out']))
    except:
        continue
    bus_stats['id'].append(key)
    bus_stats['lat'].append(val['Latitude'])
    bus_stats['lng'].append(val['Longitude'])

In [19]:
len(bus_stats['id'])

5056

In [26]:
%%time
planningAreas = {}
failed_indexes = []
for i in bus_stats['id']:
    temp = get_planning_area(bus_data[i]['Latitude'], bus_data[i]['Longitude'])
    if temp is None:
        print(i, bus_data[i]['Latitude'], bus_data[i]['Longitude'])
        failed_indexes.append(i)
    else:
        planningAreas[i] = temp
    time.sleep(0.5)  # to prevent exceeding api limit

42311 1.33865749997067 103.76028055601957
43611 1.3440783607984 103.75829172450743
43181 1.34648944401178 103.75681722199707
63351 1.36922638899711 103.88786388897049
60209 1.32986133945973 103.86896099565628
60179 1.32634025655419 103.86834025123765
60039 1.31996473842763 103.86983042567824
07379 1.31017336740849 103.86338225534827
01219 1.30526598535719 103.86072019914616
01239 1.30291236608351 103.86161817611134
01231 1.3032499999752 103.8610830559663
01311 1.3070916463394 103.86219695240973
60011 1.31471795031338 103.86376795493321
60021 1.31828596087227 103.86669874193286
60031 1.3204097072077 103.87007832529532
60229 1.32258108743147 103.87024013608315
60159 1.32409476572475 103.86764196002876
60201 1.32933888886 103.8683861111429
60261 1.33132471594343 103.86891794930561
61119 1.335623 103.871938
63349 1.36687207146588 103.88923358520269
02169 1.29333836780589 103.86070849052753
66041 1.3557230306281 103.8697219448858
66051 1.35585499445871 103.87196190877665
64491 1.37513027801163 103.87905166700338
64611 1.37837333826782 103.88445923003084
67469 1.38533638989648 103.8907421565758
67279 1.38809305404187 103.89167879073923
67449 1.39203289077574 103.89307115004729
65199 1.39591721161169 103.90542736761212
77339 1.3780301775267 103.93278653475954
77239 1.37741830757924 103.93793201117523
77249 1.37599439507295 103.939861116152
78049 1.3744627816256 103.94180578126523
77019 1.3737108000359 103.94351079998545
77039 1.37159118708865 103.94834855629753
77049 1.36963556960047 103.95158314847573
78069 1.36869168470813 103.95815838787027
98041 1.36905889178012 103.96968330432956
98231 1.37118600522884 103.97184133530571
98051 1.37300166698251 103.97371333299213
98071 1.37965443818622 103.97838930249063
99011 1.38328110134472 103.97812168830427
99021 1.38667053181061 103.97916912424074
99009 1.38969812175274 103.98762553601895
66059 1.35553141738293 103.87212299732872
80009 1.3111642220841 103.87216341433337
80119 1.30992065473549 103.87599804972949
80189 1.3050374120041 103.88107698307338
80179 1.30059405278951 103.87712870384925
80191 1.30160887226464 103.87540590231113
90039 1.29663305723862 103.87539308856654
90029 1.29700669642984 103.87253085603427
90011 1.29711286404721 103.86924820515104
80181 1.30508439498564 103.87969842035083
67761 1.396006 103.887595
95109 1.35650049529119 103.98635233782801
95209 1.33899412275069 103.98206408704047
95159 1.34191465289349 103.98225051798305
67311 1.39695849054084 103.88980246889258
67371 1.39259972198676 103.88713972197542
67351 1.38995158321899 103.89134430221003
11159 1.29800440816386 103.80362656855579
11139 1.2931986108138 103.80744694841283
10289 1.2918699745378 103.81440639448375
10321 1.29428332949691 103.81587839882768
13039 1.29981572699945 103.81744265557978
10281 1.29153833298318 103.81445166697797
10291 1.29215855273858 103.81065866068086
64329 1.37240520198465 103.90067635112096
64319 1.36984558380582 103.90037616571983
63229 1.35757166659958 103.88511923530164
63339 1.36811854812783 103.88451259380585
63329 1.36862870083779 103.882008479663
63381 1.37095163322641 103.88239574095121
63371 1.37115666339413 103.88514405987183
64411 1.37353273194871 103.88503406200056
64519 1.37380837246167 103.88110955631065
63389 1.37063835467565 103.882445169636
63399 1.37022333300436 103.8802849999831
63321 1.36913602302795 103.88132215113495
63331 1.36836866548657 103.88492703491212
63221 1.35799327947024 103.8855063915276
63231 1.35901223241231 103.88763070107527
63131 1.36120884403234 103.89033109494885
64231 1.36479332441286 103.8968501202605
64301 1.36722334223088 103.89904601013104
52409 1.32801971174787 103.85105250762084
51011 1.327841667 103.8406111
52191 1.33636138602833 103.84608389640735
52201 1.33918030742933 103.84650759525915
52171 1.3409498853794 103.8477798112237
62099 1.34412749517611 103.87562115587856
62089 1.34383983323818 103.8782509427123
75251 1.3494983330038 103.92783361101397
76289 1.34738728491099 103.93814569319093
76129 1.34988214931301 103.93791583710507
76131 1.35184112001279 103.94254133694142
76141 1.35366689109025 103.94609060451609
76199 1.35660016333768 103.94535428432116
76551 1.355401 103.943599
93131 1.31277833350682 103.93415826027375
01541 1.29886465442254 103.85734583628746
01549 1.30069868861162 103.85873120467069
93139 1.31278641539067 103.9338525622476
55509 1.38113241525166 103.8455558816965
55209 1.37863166702811 103.84468444401317
54059 1.3762849891494 103.84498299185917
54049 1.37350472194557 103.84532571985918
54019 1.36618666697727 103.84418333302729
53169 1.362165 103.842512
53379 1.36018670154842 103.84386020713477
53389 1.35804473736933 103.84516933880761
53231 1.35089997844732 103.84797987894204
52021 1.34431313758435 103.84766088139544
52031 1.34404852974216 103.85026155631283
66071 1.34375516528836 103.86737312632222
81051 1.31662343087312 103.89033436777706
82061 1.31876162629115 103.9022689641617
83319 1.31268833645873 103.90714010649674
83309 1.31045482788745 103.90806851700533
92279 1.30633786714639 103.90964863731638
92071 1.3067937735779 103.91498055803811
92081 1.30751338586806 103.91754269765207
93011 1.30822971200422 103.92151900444857
93021 1.30867772794032 103.92426998119757
94009 1.31795981372922 103.95256713632443
93129 1.31135799079971 103.92481225868325
93029 1.30851455788092 103.92471047692146
93019 1.30787614366531 103.92111718654822
92089 1.3071917122941 103.91764721757994
92211 1.30595638898755 103.91698861102066
83301 1.30887166700305 103.90817888897894
83291 1.31473309387158 103.90589521764187
07518 1.30095828368506 103.85211175034802
10081 1.2822783541702 103.82241744338572
10089 1.28292332245689 103.82165660905856
03223 1.2757033952327 103.84632468221952
03151 1.27892124625262 103.84776234627124
03021 1.28255524603003 103.84998903789258
08079 1.29921444445586 103.84910329217985
07011 1.30099699058522 103.8498101874305
07021 1.30324521574524 103.84995776766847
07111 1.30879366465919 103.8531751994068
50261 1.31608827183208 103.85322332407407
50031 1.321378056 103.8417481
66339 1.37125183222903 103.87055805068519
54309 1.36988835306854 103.86306604022437
54289 1.369149 103.855987
54279 1.36968919033429 103.85404760550173
54239 1.369186093503 103.84332015576305
54069 1.36691997150676 103.83405562626137
56269 1.36741835425889 103.83233403239235
53079 1.36082666696977 103.82864333297208
53049 1.35362664583092 103.83422172361446
10349 1.284977 103.821011
53051 1.354995 103.8316003
53061 1.3571583010953 103.82883507046125
53071 1.36063333692202 103.82834252087906
53081 1.36319303798878 103.82783467220469
53091 1.36482025993725 103.8279237884758
56261 1.367859 103.831724
54211 1.36861222198461 103.83634833298527
54221 1.36995608006054 103.83959341119167
54231 1.36966012463918 103.84193909880943
54261 1.36946941916508 103.85075454495572
54301 1.37019500530585 103.86284675062745
54101 1.35732097800984 103.85465761724518
66031 1.35465640659199 103.86572364607075
66039 1.35475138514216 103.86668854745251
66099 1.35427474694456 103.86142199387719
54099 1.36118777797342 103.85104805596895
54089 1.36297001065247 103.8484911674186
80289 1.31607500002964 103.8793280559861
80249 1.31693643112186 103.87985994146072
81201 1.31869302203322 103.88300679740438
81211 1.31904666371972 103.88666750777982
81221 1.31976331280568 103.89015111975269
81111 1.31860238558389 103.89211689790608
82119 1.31619210726015 103.8940879247112
82099 1.31299461549467 103.89427184817765
92249 1.30166304472072 103.90118149629421
71171 1.33497828854869 103.89238738026172
71069 1.3385251356058 103.89512258677937
11111 1.31780157259006 103.80771866952543
41101 1.31908138967253 103.80921733406133
41111 1.32081170217365 103.81185140010722
66081 1.34302188357133 103.86962821126625
41119 1.32074221277671 103.81245374678939
11119 1.31747833490912 103.80785606728587
22009 1.33932334709184 103.70545701843297
21669 1.34134214489014 103.7220951930324
21649 1.33670886560508 103.72517977728532
21759 1.33032387572414 103.7249113116863
21179 1.32586166697514 103.71929527796603
21019 1.32554867828642 103.72703317988619
20089 1.32702967705527 103.7392229529496
20069 1.32405636523113 103.74418793943124
20059 1.32332108750232 103.74769351004639
20039 1.32102499760642 103.75471510655738

20029 1.31772833949651 103.75767989744158
17059 1.31694333299923 103.76170111103328
17051 1.31726409983754 103.76240145648879
20021 1.31675923723731 103.75788959223745
20031 1.32055987103977 103.75464677812963
20081 1.32660472912447 103.73879228035435
21641 1.3363012622323 103.7250086693193
21651 1.33873014874255 103.72402172321266
21661 1.34176560473259 103.72141430185464
28091 1.34425795644531 103.72012487725401
21681 1.34228732259066 103.71466298692037
21691 1.34107859811695 103.71138811111824
52251 1.3329698063249 103.85142087938439
93031 1.30983637164414 103.92937539318251
93041 1.31120679321816 103.9333999156994
84169 1.322133056 103.9321144
84161 1.321651111 103.9324025
93049 1.31073016722066 103.9329857782451
93039 1.30958474832555 103.92954154203639
93201 1.30920003741893 103.92781269211483
83131 1.31631138897106 103.90907722199168
83141 1.31763611995973 103.90845006395246
83029 1.31774429797349 103.90635251996308
52259 1.33278746546959 103.85165691373105
67009 1.39178060381601 103.89588499436073
66489 1.37889334025536 103.8789799431682
54531 1.35839974282084 103.85132688003488
53241 1.35615639153054 103.84995659632311
52019 1.34403333300249 103.84368166701324
51139 1.34436688449065 103.84032264966956
42129 1.33016133420747 103.79515526101162
42139 1.32877805376848 103.7944440268283
11319 1.3203063798654 103.78959970624805
11309 1.31862443850443 103.78842993526158
11291 1.31792777802094 103.78592333300938
12021 1.31907638897016 103.78243055601493
12031 1.3208008510991 103.7796285552172
17249 1.315171111 103.7693364
66481 1.3791866640778 103.8783096213561
52261 1.33403167346972 103.85128140448401
51119 1.34014305601694 103.83257583298696
40259 1.34031250739109 103.82256277806692
41129 1.32542946413096 103.81399869920736
43401 1.35226498779767 103.74681637316733
43453 1.3479 103.7385
28299 1.34438323067917 103.73667027224192
28461 1.345332402809 103.73205383657178
28491 1.34905596073619 103.7307863306416
28521 1.35097548065061 103.72120042369096
28531 1.35006115514965 103.71652940446651
21389 1.350059 103.709927
21361 1.34302323304896 103.70767181671128
28529 1.35117921308914 103.7206511492765
28519 1.35058416759245 103.72452492776075
28499 1.34963044051902 103.73046199733298
28469 1.34612717332075 103.73193313637753
43411 1.35176519952681 103.75019891787089
43209 1.34697997431974 103.76384248905434
42189 1.34378853697493 103.76960174742553
42179 1.34197833300345 103.77100805601951
42159 1.34036805329812 103.77530898996658
42259 1.34106160633217 103.7770788000345
42089 1.34007090936874 103.77941451542826
41121 1.32554444399609 103.81350777801268
41151 1.33799972901638 103.81931795640678
40261 1.34130384192273 103.82706642150467
62179 1.348559 103.874826
62159 1.34592441628878 103.8776519633928
62069 1.34209858960795 103.88161305566761
70299 1.3374750000156 103.88758305557131
70289 1.3350640000249 103.8886929999761
90059 1.297578611 103.8791081
91081 1.29930499999248 103.88533388902762
70271 1.33078171512111 103.88931512831826
70291 1.33743499996855 103.88713611112668
70301 1.33965760027057 103.88575915318087
62061 1.34173536917551 103.88178158303499

TypeError: 'NoneType' object is not subscriptable

In [27]:
len(planningAreas)

1937

In [28]:
len(failed_indexes)

277

In [39]:
failed_indexes = [i for i in bus_stats['id'] if i not in planningAreas]
len(failed_indexes)

58

In [40]:
failed_indexes_2 = []
for i in failed_indexes:
    temp = get_planning_area(bus_data[i]['Latitude'], bus_data[i]['Longitude'])
    if temp is None:
        print(i, bus_data[i]['Latitude'], bus_data[i]['Longitude'])
        failed_indexes_2.append(i)
    else:
        planningAreas[i] = temp
    time.sleep(0.5)  # to prevent exceeding api limit

46211 1.46491732433248 103.76547712149443
47711 1.46345834112565 103.76442341207213
46219 1.4654268105665 103.76826657164715
46239 1.49390379286364 103.74403292148666

In [41]:
len(failed_indexes_2), len(planningAreas)

(4, 5052)

In [42]:
bus_stats['planningArea'] = []
for i, k in enumerate(bus_stats['id']):
    bus_stats['planningArea'].append(planningAreas.get(k, None))
len(bus_stats['planningArea'])

5056

In [43]:
bus_df = pd.DataFrame.from_dict(bus_stats, orient='columns')
bus_df.head()

      id       lat         lng planningArea   tap_in  tap_out
0  75009  1.354076  103.943391     TAMPINES  4607736  4502560
1  76059  1.352962  103.941652     TAMPINES   330559   116454
2  76069  1.348753  103.942086     TAMPINES   310013   204128
3  96289  1.340055  103.948381     TAMPINES   144639   312525
4  96109  1.337371  103.950673     TAMPINES    74787   104606

In [44]:
bus_df.to_csv('data/bus_planning_areas.csv')

In [46]:
bus_df.describe()

               lat          lng        tap_in       tap_out
count  5056.000000  5056.000000  5.056000e+03  5.056000e+03
mean      1.351788   103.823915  7.589601e+04  7.589586e+04
std       0.045306     0.084930  2.057332e+05  1.940642e+05
min       1.251427   103.617250  0.000000e+00  0.000000e+00
25%       1.317717   103.761976  1.052900e+04  1.146775e+04
50%       1.344786   103.833185  3.346500e+04  3.499700e+04
75%       1.379373   103.888791  8.054525e+04  8.136775e+04
max       1.493904   104.015614  6.393645e+06  5.536337e+06

In [47]:
bus_df['deficit'] = bus_df['tap_in'] - bus_df['tap_out']
bus_df.head()

      id       lat         lng planningArea   tap_in  tap_out  deficit
0  75009  1.354076  103.943391     TAMPINES  4607736  4502560   105176
1  76059  1.352962  103.941652     TAMPINES   330559   116454   214105
2  76069  1.348753  103.942086     TAMPINES   310013   204128   105885
3  96289  1.340055  103.948381     TAMPINES   144639   312525  -167886
4  96109  1.337371  103.950673     TAMPINES    74787   104606   -29819

In [48]:
bus_df['deficit'].describe()

count    5.056000e+03
mean     1.552611e-01
std      8.753570e+04
min     -1.757191e+06
25%     -1.557225e+04
50%     -1.555000e+02
75%      1.479375e+04
max      1.304202e+06
Name: deficit, dtype: float64

In [49]:
bus_df['avg_flow'] = (bus_df['tap_in'] + bus_df['tap_out'])//2
bus_df.head()

,id,lat,lng,planningArea,tap_in,tap_out,deficit,avg_flow
0,75009,1.354076,103.943391,TAMPINES,4607736,4502560,105176,4555148
1,76059,1.352962,103.941652,TAMPINES,330559,116454,214105,223506
2,76069,1.348753,103.942086,TAMPINES,310013,204128,105885,257070
3,96289,1.340055,103.948381,TAMPINES,144639,312525,-167886,228582
4,96109,1.337371,103.950673,TAMPINES,74787,104606,-29819,89696

In [51]:
area_net_flow = bus_df.groupby(['planningArea'])['avg_flow'].sum()
area_net_flow

planningArea
ANG MO KIO                 16855477
BEDOK                      24555301
BISHAN                      7620968
BOON LAY                     749613
BUKIT BATOK                12428188
BUKIT MERAH                17159783
BUKIT PANJANG               8384445
BUKIT TIMAH                 6030480
CENTRAL WATER CATCHMENT      466899
CHANGI                      3133449
CHANGI BAY                    10768
CHOA CHU KANG              11833090
CLEMENTI                   10741455
DOWNTOWN CORE               4800605
GEYLANG                    14972029
HOUGANG                    19017298
JURONG EAST                10253651
JURONG WEST                24341261
KALLANG                     9846998
LIM CHU KANG                  45054
MANDAI                       330471
MARINA SOUTH                  19587
MARINE PARADE               3930432
MUSEUM                      1897757
NEWTON                       816727
NOVENA                      5789180
ORCHARD                     3542770
OUTRAM                      3127402
PASIR RIS                  10605187
PAYA LEBAR                   710271
PIONEER                     2194574
PUNGGOL                     7357957
QUEENSTOWN                 11515088
RIVER VALLEY                1050668
ROCHOR                      3876462
SELETAR                      576497
SEMBAWANG                   7583096
SENGKANG                   12939589
SERANGOON                   9847094
SINGAPORE RIVER             1316168
SOUTHERN ISLANDS              46507
STRAITS VIEW                  27721
SUNGEI KADUT                2236277
TAMPINES                   23958688
TANGLIN                     1997909
TENGAH                       183884
TOA PAYOH                  13250571
TUAS                        1548230
WESTERN WATER CATCHMENT     1422721
WOODLANDS                  25160989
YISHUN                     19939833
Name: avg_flow, dtype: int64

In [55]:
bus_df.dropna(inplace=True)

In [56]:
bus_df['pop_multiplier'] = bus_df.apply(lambda x: x['avg_flow']/area_net_flow[x['planningArea']], axis=1)
bus_df.head()

,id,lat,lng,planningArea,tap_in,tap_out,deficit,avg_flow,pop_multiplier
0,75009,1.354076,103.943391,TAMPINES,4607736,4502560,105176,4555148,0.190125
1,76059,1.352962,103.941652,TAMPINES,330559,116454,214105,223506,0.009329
2,76069,1.348753,103.942086,TAMPINES,310013,204128,105885,257070,0.010730
3,96289,1.340055,103.948381,TAMPINES,144639,312525,-167886,228582,0.009541
4,96109,1.337371,103.950673,TAMPINES,74787,104606,-29819,89696,0.003744

In [59]:
bus_df['pop_estimate'] = bus_df.apply(lambda x: int(x['pop_multiplier']*pop_df['total'][x['planningArea']]), axis=1)
bus_df.head()

,id,lat,lng,planningArea,tap_in,tap_out,deficit,avg_flow,pop_multiplier,pop_estimate
0,75009,1.354076,103.943391,TAMPINES,4607736,4502560,105176,4555148,0.190125,49413
1,76059,1.352962,103.941652,TAMPINES,330559,116454,214105,223506,0.009329,2424
2,76069,1.348753,103.942086,TAMPINES,310013,204128,105885,257070,0.010730,2788
3,96289,1.340055,103.948381,TAMPINES,144639,312525,-167886,228582,0.009541,2479
4,96109,1.337371,103.950673,TAMPINES,74787,104606,-29819,89696,0.003744,973

In [61]:
bus_df.describe()

,lat,lng,tap_in,tap_out,deficit,avg_flow,pop_multiplier,pop_estimate
count,5052.000000,5052.000000,5.052000e+03,5.052000e+03,5.052000e+03,5.052000e+03,5.052000e+03,5052.000000
mean,1.351692,103.823965,7.568868e+04,7.555770e+04,1.309812e+02,7.562295e+04,1.009501e-02,633.343824
std,0.045197,0.084944,2.052204e+05,1.925318e+05,8.254844e+04,1.946494e+05,3.215305e-02,1889.063606
min,1.251427,103.617250,0.000000e+00,0.000000e+00,-1.568385e+06,1.000000e+01,4.173851e-07,0.000000
25%,1.317694,103.761976,1.052900e+04,1.146775e+04,-1.557225e+04,1.254950e+04,1.520411e-03,56.000000
50%,1.344756,103.833315,3.343300e+04,3.495400e+04,-1.555000e+02,3.624900e+04,3.635765e-03,265.500000
75%,1.379237,103.888836,8.051200e+04,8.133450e+04,1.479375e+04,8.269000e+04,8.040372e-03,665.250000
max,1.467570,104.015614,6.393645e+06,5.536337e+06,1.304202e+06,5.964991e+06,1.000000e+00,53847.000000

In [63]:
bus_df.to_csv('data/population_estimates.csv', index=False)